<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>trainagotchi</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <script src="/game-ably-connector.js" defer></script>
    <script src="/game-buffs.js" defer></script>
    <script src="/game-entities.js" defer></script>
    <script src="/game-train.js" defer></script>
    <script src="/game-problems.js" defer></script>
    <script src="/game-platform.js" defer></script>
    <script src="/game-game.js" defer></script>
    <script src="/game-ui.js" defer></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    
    <!--<button onclick="startGame();">Start</button><br>-->
    
    Ticks: <span data-bind-ticks></span><br>
    Total Platforms: <span data-bind-total-platforms></span><br>
    
    <div style="display: flex;">
      
      <div id="timetable" style="background: red; height: 50vh; width: 25vw;">
        timetable
      </div>

      <div id="playfield" style="background: grey; height: 50vh; width: 50vw; background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Ftube.png?v=1584284017645');">
        <div id="buffs">
        </div>
        
        <div id="platform-stats">
          
        </div>
      </div>

      <div id="actions" style="background: green; height: 50vh; width: 25vw;">
        <button onclick="game.queueAction('clean', 'platformId1');">Clean</button>
        <button onclick="game.queueAction('vent', 'platformId1');">Vent</button>
        <button onclick="game.queueAction('something', 'platformId1');">Something</button>
      </div>

    </div>
    
    
    <button onclick="ably.fakeTrainArrival('KINGS CROSS')">Fake Train Arrival</button><button onclick="ably.fakeTrainDeparture('KINGS CROSS')">Fake Train Departure</button>
    
  </body>
</html>
