<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>trainagotchi</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <script src="/game-_utils.js" defer></script>
    <script src="/game-ably-connector.js" defer></script>
    <script src="/game-buffs.js" defer></script>
    <script src="/game-problems.js" defer></script>
    <script src="/game-traveller.js" defer></script>
    <script src="/game-train.js" defer></script>
    <script src="/game-platform.js" defer></script>
    <script src="/game-game.js" defer></script>
    <script src="/game-ui.js" defer></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    
    <!--<button onclick="startGame();">Start</button><br>-->
    
    Ticks: <span data-bind-ticks></span><br>
    Total Platforms: <span data-bind-total-platforms></span><br>
    <main>
      <div id="game-over-message" class="hide">
        GAME OVER
        <span data-bind-gameovermsg></span>
      </div>
      <div id="temperatureOverlay" class="hide"></div>      
      <div id="timetable">timetable</div>
      <div id="playfield">
        <div id="buffs"></div>
        <div id="track"></div>
        <div id="platform"></div>
      </div>
      <div id="actions">
        <button onclick="game.queueAction('clean', 'platformId1');">Clean</button>
        <button onclick="game.queueAction('vent', 'platformId1');">Vent</button>
        <button onclick="game.queueAction('something', 'platformId1');">Something</button>
        
        <div id="platform-stats">
          Platform Temperature: <span data-bind-platform-0-temperature></span><br>
          Platform Hygiene    : <span data-bind-platform-0-hygiene></span><br>
        </div>
      </div>
    </main>
    <button onclick="ably.fakeTrainArrival('KINGS CROSS')">Fake Train Arrival</button>
    <button onclick="ably.fakeTrainDeparture('KINGS CROSS')">Fake Train Departure</button>
    
  </body>
</html>
