/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0 0 0 0;
  border: 0 0 0 0;
  margin: 0 0 0 0;
}

#timetable {
  height: 50vh;
  width: 25vw;
  
  background: red;

}

#playfield {
  overflow: hidden;
  height: 50vh; 
  width: 50vw;
  
  background: grey; 
  background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Ftube.png?v=1584284017645');
}

#track {
  height: 360px;
}

#platform {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

#actions {
  height: 50vh;
  width: 25vw;
  
  background: green;
}

#temperatureOverlay {  
  position: absolute;
  z-index: 10;
  left: 25vw;
  height: 50vh; 
  width: 50vw; 
  
  background-color: red;
  pointer-events: none;
}

#buffs {
  position: absolute;
  z-index: 100;
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap
}

.buff {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  
  background-color: azure;
}

.ventBuff {
  background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Fbuff-vent.png?v=1584357454303');
}

.cleanBuff {
  background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Fbuff-clean.png?v=1584357682802');
}

#train {
  position: absolute;
  z-index: 2;
}

#game-over-message  {
  z-index: 10000;
  position: absolute;
  width:  95vw;
  height: 80%;
  padding-top: 50px;
  font-size: 80pt;
  align-content: center;
  text-align: center;
  
  background-color: red;
  color: white;
}

.hide {
  display: none;
}

.entity {
  background: red;
}

.vomit {
  width: 50px;
  height: 50px;
  background: none;
  background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Fbarf-text-vector-art_k19235660.jpg?v=1584364646367');
}

.traveller {
  width: 50px;
  height: 50px;
  background: none;
  background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Ftraveller.gif?v=1584358875511');
}
