/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

#playfield {
  overflow: hidden;
}

#buffs {
  position: absolute;
  z-index: 100;
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap
}

.buff {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  background-color: azure;
}


#game-over-message  {
  z-index: 10000;
  position: absolute;
  width:  95vw;
  height: 80%;
  padding-top: 50px;
  font-size: 80pt;
  align-content: center;
  text-align: center;
  background-color: red;
  color: white;
}

.hide {
  display: none;
}