html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

#timetable {
  background: red;
}

#playfield {
  position: relative;
  overflow: hidden;
  background-color: #7b7a82;
}

#track {
  position:relative;
  width: calc(100% - 15px);
  height: 160px;
  margin-left: 15px;
  background: rgb(211,204,126);
  background: linear-gradient(180deg, rgba(211,204,126,1) 70%, rgba(24,44,42,1) 30%);
  overflow: hidden;
}

.train {
  position: relative;
  width: 700px;
  height: 240px;
  background: url(https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Ftrain.svg?v=1584553484134) no-repeat left bottom;
  background-size: 700px;
  transform: translate(100%, -90px);
  animation: slide 2s forwards;
}

.slideOut {  
  animation: slideout 2s forwards;
}

@keyframes slide {
  30%  { transform: translate(10px, -90px);  }
  100%  { transform: translate(10px, -90px);  }
}

@keyframes slideout {
  0%   { transform: translate(10px, -90px);  }
  100% { transform: translate(-110%, -90px); }
}


.tunnel {
  position: absolute;
  height: 70%;
  width: 40px;
  background: url(https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Ftunnel.svg?v=1584637517924) no-repeat;
  background-size: contain;
}


#platform {
  position: relative;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 200px;
  background-color: #a7a5b3;
  border-top: 10px solid white;
}

#platform:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px; 
  top: 10px;
  background-color: #faea38;
}

.turnstyle {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 120px;
  z-index: 5999;
}

#actions {
  background: green;
}

#temperatureOverlay {  
  position: absolute;
  z-index: 9000;
  left: 25vw;
  height: 50vh; 
  width: 50vw; 
  
  background-color: red;
  pointer-events: none;
}

#buffs {
  position: absolute;
  z-index: 100;
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap
}

.buff {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  background-color: azure;
}

.ventBuff {
  background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Fbuff-vent.png?v=1584357454303');
}

.cleanBuff {
  background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Fbuff-clean.png?v=1584357682802');
}

#game-over-message  {
  z-index: 10000;
  position: absolute;
  width:  95vw;
  height: 80%;
  padding-top: 50px;
  font-size: 80pt;
  align-content: center;
  text-align: center;
  
  background-color: red;
  color: white;
}

.hide {
  display: none;
}

.entity {
  width: 10px;
  height: 10px;
  background: red;
}

.vomit {
  width: 50px;
  height: 50px;
  background: none;
  background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Fvom.gif?v=1584722365457');
}

div[data-ispassedout="true"] {
  border: 10px solid red;
}

.traveller {
  width: 70px;
  height: 70px;
  background: none;
  background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Ftrainagotchi.gif?v=1584659771420');
  background-size: contain;
  z-index: 1;
}

.traveller0 {
    background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Ftrainagotchi.gif?v=1584659771420');
}

.traveller1 {
    background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Fblobi.gif?v=1584714913877');
}

.traveller2 {
    background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Fkitty.gif?v=1584717567046');
}

.traveller3 {
    background-image: url('https://cdn.glitch.com/0993a1dd-56b8-4a95-8ad8-5383c9b59d24%2Fpika2.gif?v=1584717580600');
}